<div class="dashboard">

  <div class="welcome">
   <h1>Welcome, {{username}}!</h1>
    <p>Share your love of pets with the world.</p>
  </div>

  <div class="actions">
    <button class="add-photo">Upload Your First Photo</button>
  </div>

  <div class="recent-activity mg-4">
    <h2>Your Recent Activity</h2>
    <p class="empty-message">You haven't shared any content yet.</p>
  </div>
</div>